<%- include('partials/header') %> <%- include('partials/navbar') %>

<!-- Hidden stuff -->

<p style="display: none" id="userAnswer"><%= locals.mcqAnswer %></p>

<div class="container">
 

  <!-- Pagination -->
  <div class="container">
    <nav>
      <ul class="pagination justify-content-center flex-wrap">
        <li class="page-item"><a class="page-link" href="mcq?pages=1">1</a></li>
        <li class="page-item"><a class="page-link" href="mcq?pages=2">2</a></li>
        <li class="page-item"><a class="page-link" href="mcq?pages=3">3</a></li>
        <li class="page-item"><a class="page-link" href="mcq?pages=4">4</a></li>
        <li class="page-item"><a class="page-link" href="mcq?pages=5">5</a></li>
        <li class="page-item"><a class="page-link" href="mcq?pages=6">6</a></li>
        <li class="page-item"><a class="page-link" href="mcq?pages=7">7</a></li>
        <li class="page-item"><a class="page-link" href="mcq?pages=8">8</a></li>
        <li class="page-item"><a class="page-link" href="mcq?pages=9">9</a></li>
        <li class="page-item"><a class="page-link" href="mcq?pages=10">10</a></li>
        <li class="page-item"><a class="page-link" href="mcq?pages=11">11</a></li>
        <li class="page-item"><a class="page-link" href="mcq?pages=12">12</a></li>
        <li class="page-item"><a class="page-link" href="mcq?pages=13">13</a></li>
        <li class="page-item"><a class="page-link" href="mcq?pages=14">14</a></li>
        <li class="page-item"><a class="page-link" href="mcq?pages=15">15</a></li>
        <li class="page-item"><a class="page-link" href="mcq?pages=16">16</a></li>
        <li class="page-item"><a class="page-link" href="mcq?pages=17">17</a></li>
        <li class="page-item"><a class="page-link" href="mcq?pages=18">18</a></li>
        <li class="page-item"><a class="page-link" href="mcq?pages=19">19</a></li>
        <li class="page-item"><a class="page-link" href="mcq?pages=20">20</a></li>
      </ul>
    </nav>
  
    <nav>
      <ul class="pagination justify-content-center flex-wrap">
        <li class="page-item"><a class="page-link" href="mcq?pages=21">21</a></li>
        <li class="page-item"><a class="page-link" href="mcq?pages=22">22</a></li>
        <li class="page-item"><a class="page-link" href="mcq?pages=23">23</a></li>
        <li class="page-item"><a class="page-link" href="mcq?pages=24">24</a></li>
        <li class="page-item"><a class="page-link" href="mcq?pages=25">25</a></li>
        <li class="page-item"><a class="page-link" href="mcq?pages=26">26</a></li>
        <li class="page-item"><a class="page-link" href="mcq?pages=27">27</a></li>
        <li class="page-item"><a class="page-link" href="mcq?pages=28">28</a></li>
        <li class="page-item"><a class="page-link" href="mcq?pages=29">29</a></li>
        <li class="page-item"><a class="page-link" href="mcq?pages=30">30</a></li>
        <li class="page-item"><a class="page-link" href="mcq?pages=31">31</a></li>
        <li class="page-item"><a class="page-link" href="mcq?pages=32">32</a></li>
        <li class="page-item"><a class="page-link" href="mcq?pages=33">33</a></li>
        <li class="page-item"><a class="page-link" href="mcq?pages=34">34</a></li>
        <li class="page-item"><a class="page-link" href="mcq?pages=35">35</a></li>
        <li class="page-item"><a class="page-link" href="mcq?pages=36">36</a></li>
        <li class="page-item"><a class="page-link" href="mcq?pages=37">37</a></li>
        <li class="page-item"><a class="page-link" href="mcq?pages=38">38</a></li>
        <li class="page-item"><a class="page-link" href="mcq?pages=39">39</a></li>
        <li class="page-item"><a class="page-link" href="mcq?pages=40">40</a></li>
      </ul>
    </nav>
    <nav>
      <ul class="pagination justify-content-center flex-wrap">
        <li class="page-item"><a class="page-link" href="mcq?pages=41">41</a></li>
        <li class="page-item"><a class="page-link" href="mcq?pages=42">42</a></li>
        <li class="page-item"><a class="page-link" href="mcq?pages=43">43</a></li>
        <li class="page-item"><a class="page-link" href="mcq?pages=44">44</a></li>
        <li class="page-item"><a class="page-link" href="mcq?pages=45">45</a></li>
        <li class="page-item"><a class="page-link" href="mcq?pages=46">46</a></li>
        <li class="page-item"><a class="page-link" href="mcq?pages=47">47</a></li>
        <li class="page-item"><a class="page-link" href="mcq?pages=48">48</a></li>
        <li class="page-item"><a class="page-link" href="mcq?pages=49">49</a></li>
        <li class="page-item"><a class="page-link" href="mcq?pages=50">50</a></li>
      </ul>
    </nav>
  </div>

<hr />

  <br />
  <h2>Answers</h1>


    <table class="table table-success table-striped table-hover" id="table">
      <thead>
        <tr></tr>
      </thead>
      <tbody>
        <tr></tr>
      </tbody>
    </table>
  </div>

  <h6 style="text-align: center">
    Click to submit and complete the test
  </h6>
  <div style="margin-bottom: 20px" class="text-center">
    <a onclick="completetest();" class="btn btn-primary" id="completebutton" role="button">Complete Test</a>
  </div>



<script>
  // grab the list data from the hidden element
  let jsontext = $("#userAnswer").html();
  // parse the JSON file
  let answer = JSON.parse(jsontext);


  let myTable = document.getElementById("table");

  // create a table
  let headers = ["Question", "Answer"];
  let tableHead = document.createElement("thead");
  let tableBody = document.createElement("tbody");
  let tableRow = document.createElement("tr");

  // create the table headers
  for (let i = 0; i < headers.length; i++) {
    let tableHeaders = document.createElement("th");
    tableHeaders.innerHTML = headers[i];
    tableRow.appendChild(tableHeaders);
  }

  // add the table headers to the table
  tableHead.appendChild(tableRow);
  myTable.appendChild(tableHead);


  Array(answer).forEach(function (item) {
    let qnumber = Object.keys(item);
    console.log(qnumber);
    for (let i = 0; i < qnumber.length; i++) {
      let number = Object.keys(item[qnumber[i]]);
      for (let j = 0; j < number.length; j++) {
        let tableRow = document.createElement("tr");
        let tableData = document.createElement("td");
        tableData.innerHTML = (i + 1) + number[j];
        tableRow.appendChild(tableData);
        tableData = document.createElement("td");
        tableData.innerHTML = item[qnumber[i]][number[j]];
        tableRow.appendChild(tableData);
        tableBody.appendChild(tableRow);
      }
    }
  });

  // add the table rows to the table
  myTable.appendChild(tableBody);

  // post to server to complete test
  function completetest() {
    $.ajax({
    type: 'POST',
    url: '/mcqcomplete',
    data: '',
    contentType: 'text/xml',
    dataType: 'text',
    success: function (result) {
      console.log(result)
    },
    error: function (result, status) {
      console.log(result)
    },
  })
    window.location.replace('/userpage')
  }
</script>


<%- include('partials/footer') %>
